<h5 class="center-align">Preencha os seus dados:</h5>
<div class="container">
    <div class="row" style="padding: 20px;">
    <form class="col s12">
        <div class="row">
        <div class=" input-field col s6">
            <input
             id="nome" 
             type="text"
             class="validate">
            <label for="nome">Nome:</label>
        </div>
        <div class="input-field col s6">
            <input id="email" type="email" class="validate">
            <label for="email">email:</label>
        </div>
    </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="idade"
                 type="number" class="validate" >
                <label for="idade">Idade</label>
            </div>
            <div class="input-field col s6">
                <input id="peso" name="peso" type="number" 
                class="validate">
                <label for="peso">Peso [Kg]</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="altura" name="altuar" type="number" 
                class="validate">
                <label for="altura">Altura [cm]</label>
            </div>
            <div class="input-field col s6">
                <select>
                    <option value="" disabled selected>sedentario</option>
                    <option value="1.2">Sedentário</option>
                    <option value="1.375">Levemente Ativo</option>
                    <option value="1.55">Moderadamente Ativo</option>
                    <option value="1.725">Muito Ativo</option>
                    <option value="1.9">Extremamente Ativo</option>
                </select>
                <label>Nivel de Atividade Física</label>
            </div> 
        </div>
        <div class="row">
            <div class="col s2">
                <label>
                    <input name="genero" type="radio" value="masculino">
                    <span>Masculino</span>
                  </label>
            </div>
            <div class="col s6">
                <label>
                  <input name="genero" type="radio" value="feminino">
                  <span>Feminino</span>
                </label>
            </div>    
        </div>
        <div>
        <div class="row" style="padding: 20px;">
            <div class="col s6 push-s4">
              <a  id ="btn-voltar" class="waves-effect waves-light btn red"
                routerLink="/login" routerLinkActive="active">Voltar</a>
            </div>
            <div class="col s6">
              <a class="waves-effect waves-light btn green"
               routerLink="/diario-alimentar" routerLinkActive="active"
               >Cadastrar</a>
            </div>
          </div>
        </div>
    </form>




</div>
</div>
