:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
    padding: 0px !important;
  }

  .imagem{

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

  }