:host {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
    padding: 0px !important;
  }





  

   /* .tela-login{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  .formulario{
    /* margin: 120px;
    margin-right:120px; */

  