footer{

    background-color: #BFE338;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
}

.centralizado{
    text-align: center;
    vertical-align: middle;
    
}