<div id="tela" class="container center-align" style="min-height: 300px">
  <div class="row" style="margin: 0 !important">
    <div class="col s12 m5 center-align" style="margin-top: 40px">
      <img [src]="imageUrl" class="responsive-img" alt="food" />
    </div>
    <!--metade direita-->
    <div class="col s12 m6 push-m1 center-align" style="margin-top: 80px">
      <form class="col s12 m12">
        <div class="row">
          <div class="row">
            <div class="input-field col s12 m12">
              <input
                id="nome"
                name="nome"
                [(ngModel)]="nome"
                type="text"
                class="validate"
                pattern="^[A-Za-zÀ-ú]+(?:\s[A-Za-zÀ-ú]+)*$"
                #campoNome="ngModel"
              />
              <label for="nome">Nome:</label>
              <div *ngIf="mensagem" class="red-text left">
                {{ mensagem }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12">
              <input
                id="email"
                name="email"
                [(ngModel)]="email"
                type="email"
                class="validate"
              />
              <label for="email">Email: </label>
            </div>
          </div>
        </div>
        <!--Botoes-->
        <div id="botoes" class="row">
          <button
            id="btn-entrar"
            class="waves-effect waves-light btn"
            (click)="buscar()"
            >Entrar <i class="material-icons right">assignment_ind</i>
            </button>
          <button
            routerLink="/cadastro"
            routerLinkActive="active"
            id="btn-cadastrar"
            class="waves-effect waves-light btn green"
            >Cadastrar <i class="material-icons right">assignment</i>
          </button>
        </div>
        <!--Fim botoes-->
      </form>
    </div>
  </div>
</div>
