<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper verde">
      <a routerLink="login" class="brand-logo">
        <img class="logo" src="assets/resources/images/logo.jpeg" />
      </a>
      <span class="title brand-logo center hide-on-med-and-down">
        Registro de dieta
      </span>
      <a routerLink="login" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li>
          <a class="flow-text" routerLink="/login" routerLinkActive="active">
            Início
          </a>
        </li>
        <li><a routerLink="/sobre" class="flow-text">Sobre</a></li>
        <li><a routerLink="/contato" class="flow-text">Contato</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul
  class="sidenav"
  style="margin-top: 55px; width: fit-content"
  id="mobile-demo"
>
  <li>
    <a routerLink="/login" routerLinkActive="active" class="flow-text">
      Inicio
    </a>
  </li>
  <li><a routerLink="/sobre" class="flow-text">Sobre</a></li>
  <li><a routerLink="/contato" class="flow-text">Contato</a></li>
</ul>
