header {
    background-color: #BFE338;
    color: black;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin:0px;
    padding: 0;
  }
  .header-content {
    text-align: center;
    margin:0;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
  }
  
  nav li {
    margin-right: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
